<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="CGI-exe" />
            <remove name="PHP vis FastCGI" />
            <add name="gg" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Cole\Downloads\php-7.1.3-nts-Win32-VC14-x86\php-cgi.exe" resourceType="File" requireAccess="None" />
            <add name="PHP vis FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Cole\Downloads\php-7.1.3-nts-Win32-VC14-x86\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
